/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #000000, #000000);
  color: #fff;
  padding: 1rem 2rem;
}

header .logo img {
  height: 71px; /* Adjust the size of the logo */
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #52f312;
}

/* Section Styles */
.section {
  padding: 3rem 2rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #3498db;
}

.accordion {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 1.2em;
  margin: 1rem 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.accordion:hover {
  background-color: #2980b9;
  transform: scale(1.05); /* Adds a slight scale effect */
}

.panel {
  padding: 0 15px;
  background-color: #ecf0f1;
  display: none;
  overflow: hidden;
  font-size: 1.1em;
  margin-bottom: 1rem;
  border-left: 4px solid #3498db;
}

.accordion.active {
  background-color: #2980b9;
}

.panel p {
  padding: 10px 0;
  margin: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin-bottom: 2em;
  width: 80%; /* Reduce the width to 80% */
  margin-left: auto;  /* Center the video container */
  margin-right: auto; /* Center the video container */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Footer Styles (Optional) */
footer {
  background: linear-gradient(45deg, #000000, #1b472b);
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

footer a {
  color: #1d8122;
  text-decoration: none;
}

footer form {
  margin-top: 1rem;
}

footer input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
}

footer button {
  background: #2e4e14;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

footer button:hover {
  background: #1d8122;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  section {
    padding: 0 1em;
  }

  .accordion {
    font-size: 1.1em;
  }

  h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .accordion {
    font-size: 1em;
  }

  h2 {
    font-size: 1.8rem;
  }
}
